
/*-----------------------------------------------------------------------*/
/*-------------------------FIRST LAYER-----------------------------------*/
/*-----------------------------------------------------------------------*/
.grid {
    display: grid;
    grid-template-columns: repeat(1, 250px);/*create 4 clomuns for our grid*/
    grid-template-rows: repeat(8, 250px);/*and 2 rows*/
    justify-content: center;
} 


html{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.FirstLayer {
    padding-top: 50px;
    background-color: rgb(222, 43, 36);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 100px; /*Distance from bottom of the grid to another layer*/
}

/*Elements in the grid without a photo*/
#FirstGridElement, 
#ThirdGridElement, 
#SixthGridElement, 
#EighthGridElement{
    background-color: rgb(243, 94, 89);
    text-align: center;
}

/*Location a narrow picture in a grid box without photo*/
#FirstGridElement>img, 
#ThirdGridElement>img, 
#SixthGridElement>img, 
#EighthGridElement>img{
    padding-top: 25%;
}

#FirstGridElement>p, 
#ThirdGridElement>p, 
#SixthGridElement>p, 
#EighthGridElement>p{
    margin-bottom: -2%;
    color: white;
}

/*Grid elemets with a photo*/
#SecondGridElement, 
#FourthGridElement, 
#FifthGridElement, 
#SeventhGridElement{
    overflow:hidden;
}

/*Photo of a camera*/
#SecondGridElement>img{
    position: relative;
    left: -50%;

    /*Makes animation smooth*/
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

#FourthGridElement>img, 
#FifthGridElement>img, 
#SeventhGridElement>img{
    position: relative;
    left: -30%;

    /*Makes animation smooth*/
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

/*Scale the picture*/
#SecondGridElement img:hover, 
#FourthGridElement img:hover, 
#FifthGridElement img:hover, 
#SeventhGridElement img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.GridElementTitle{
    font-size: 24px;
    font-weight: bold;
}

.title1{
font-size: 36px;
font-weight: 500;
margin-bottom: -20px;
color: white;
text-align: center;
}

.title2{
    text-align: center;
    color: rgb(230, 230, 230);
    font-weight: lighter;
    font-size: 20px;
}

/*-----------------------------------------------------------------------*/
/*-------------------------SECOND LAYER----------------------------------*/
/*-----------------------------------------------------------------------*/

.SecondLayer{
    padding-top: 50px;
    background-color: rgb(18, 135, 191);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 100px;
}

.circle {
    width: 50px; 
    height: 50px;
    text-align: center;
    border: 3px solid white;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 70px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    margin-top: 13px;
    transform: rotate(45deg);
  }

.form::before {
    content: ''; 
    position: absolute;
    left: 46%; 
    bottom: 100%;
    border:30px solid transparent;
    border-bottom: 30px solid white;
}

.form{
      background-color: white;
      width:330px;
      height:450px;
      margin: 0 auto;
      position: relative; 
      border-radius: 3px;
}

.form .box {
    width: 30px; 
    height: 30px;
    position: absolute;
    top: -4%;
    right: -3.5%;
    padding: 0.5% 0.5%;
    border-radius: 50%;
    background: red;
    color: white;
    border:2px solid white;
}
  
.form .box div{
    font-size: 20px;
    position: absolute;
    top: 20%;
    right: 30%;
    font-weight: 100;
 }  

.SecondLayerText{
    font-size:15px;
    text-align: center;
    color: gray;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 15px
}

.inputforms{
    text-align: center;
    margin-bottom: 3%;
}

.inputforms input{
    font-size: 14px;
    width: 250px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid rgb(200,200,200);
    margin-bottom: 5px;
    padding-left: 15px;
}

.inputforms input::placeholder{
    color: rgb(169,169,169);
    font-size: 14px;
}

.inputforms input:focus{
    border: 1px solid #39c;
    outline: none;
    box-shadow:0 0 5px #39c;
}

.submitbtn{
    text-align: center;
}

.submitbtn button{
    padding: 1.5% 4% 1.5% 4%;
    font-size: 14px;
    background-color: rgb(222, 43, 36);
    color: white;
    border-radius: 5px;
    border-color: rgb(222, 43, 36);
}
    
.submitbtn button:active{
    background-color: rgb(242, 63, 56);
    border-color: white;
}
 
/*-----------------------------------------------------------------------*/
/*-------------------------THIRD LAYER-----------------------------------*/
/*-----------------------------------------------------------------------*/

.ThirdLayer{
    background-color: rgb(42, 42, 42);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 100px;
    padding-top: 40px;
}

.ThirdLayerTitle{
        color: white;
        font-size: 29px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
}

.ThirdLayerText{
    text-align: center;
    color: rgb(200, 200, 200);
    margin-left: 10px;
    margin-right: 10px;
}

.NetworkLinks{
    width: 224px;
    margin-left: auto;
    margin-right: auto;

}

.NetworkLinks a:visited,
.NetworkLinks a:link,
.NetworkLinks a:hover,
.NetworkLinks a:active{
        color: rgb(42, 42, 42);
}

.NetworkLinks a img{
        margin: 5px;
        border: 2px solid rgb(81, 81, 81);;
        border-radius: 3px;
        padding: 10px;
}

.NetworkLinks a img:hover{
        border-color: red;
}

.EmailForm{
    text-align: center;
    margin-bottom: 30px;
}

.EmailForm input{
    color: white;
    font-size: 14px;
    width: 280px;
    height: 45px;
    background-color: rgb(81, 81, 81);
    border-radius: 3px;
    border-width: 0px;
    padding-left: 20px;
}

.EmailForm input::placeholder{
    color: rgb(200, 200, 200);
    font-size: 14px;
}
    
.EmailForm input:focus{
    outline: none;
    box-shadow:0 0 5px rgb(81, 81, 81);
}

.subscribebtn{
    text-align: center;
}

.subscribebtn button{
    padding: 10px 25px 10px 25px;
    font-size: 17px;
    background-color: rgb(42, 42, 42);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(81, 81, 81);
    border-radius: 3px;
}
    
.subscribebtn button:active{
    background-color: rgb(81, 81, 81);
    border-color:white;
}

/*-----------------------------------------------------------------------*/
/*-----------------------------FOOTER------------------------------------*/
/*-----------------------------------------------------------------------*/

footer{
    background-color: rgb(81, 81, 81);
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer>p{
    font-size: 14px;
    text-align: center;
    color: rgb(200, 200, 200); 
}

@media only screen and (min-width: 768px)  {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 250px);/*create 4 clomuns for our grid*/
        grid-template-rows: repeat(4, 250px);/*and 2 rows*/
        justify-content: center;
    } 
}

  @media only screen and (min-width: 1020px) {
    /* For desktop: */

    .grid {
        grid-template-columns: repeat(4, 250px);/*create 4 clomuns for our grid*/
        grid-template-rows: repeat(2, 250px);/*and 2 rows*/
    } 

    .form{
        width:700px;
  }
  
  .form .box {
      width: 40px; 
      height: 40px;
      top: -5%;
  }
  .form .box div{
    font-size: 26px;
 }  
 .inputforms input{
    width: 500px;
    margin-bottom: 8px;
    padding-left: 20px;
}
.SecondLayerText{
    font-size:18px;
}
.EmailForm input{
    width: 500px;
}

  }